.loging {
  background-color: var(--clr-dark-main);
}

.login-text {
  color: var(--clr-dark-main);
  cursor: pointer;
}

.login-text:hover {
  color: var(--clr-dark-main);
  text-decoration: underline !important;
}

.login {
  background-color: var(--clr-dark-main) !important;
}