.hotelDetail-container {
  text-align: left;
  margin-top: 80px;
}

.hotelDetail-img {
  height: 85vh;
  width: 100%;
  object-fit: cover;
}

.hotelDetail-title {
  color: var(--clr-dark-main);
  font-weight: 700;
  margin-bottom: 2rem;
}

.hotelDetail-body {
  padding: 3rem;
  max-width: 1190px;
  margin-inline: auto;
}

.hotelDetail-loading {
  margin-block: calc(90px + 3.5rem) 3.5rem;
}