.hotelDetail-img {
  height: 87vh;
  width: 100%;
  object-fit: cover;
}

.hotelDetail-title {
  color: var(--clr-dark-main);
  font-weight: 700;
  margin-bottom: 1.25rem;
}

.hotelDetail-body {
  padding: 3rem;
  max-width: 1200px;
  margin-inline: auto;
}

input[type=date] {
  border: var(--clr-main) solid 2px;
  padding: .5em;
  border-radius: 4px;
}

.hotelDetail-loading {
  margin: 3.75rem 3rem;
}