.card-hotel {
  text-align: left;
  border: none !important;
  margin: .75rem !important; 
  width: 270px !important;
}

.card-hotel img {
  border-radius: 8px 8px 0 0;
  height: 200px !important;
  width: 100%;
  object-fit: cover;
}

.card-body {
  padding: 1.25rem !important;
}