.search {
  position: relative;
  max-width: 270px;
}

.search-input {
  width: 100%;
  width: 270px;
  border-radius: 4px;
  border: 1px var(--clr-black) solid;
  height: 2.5rem;
  padding-inline: 1rem 2.75rem;
  outline: none;
}
.search-input::placeholder {
  color: inherit;
}
.search-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.search-btn {
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  background: transparent;
  border-radius: 4px;
  transform: translateX(-2.5rem);
  width: 2.5rem;
  height: 2.25rem;
  cursor: pointer;
}
.search-btn::after, .search-btn::before {
  content: "";
  position: absolute;
}
.search-btn::before {
  width: 15px;
  height: 15px;
  border: 2px solid var(--clr-black-50);
  border-radius: 50%;
  transform: translate(-3px,-1px);
}
.search-btn::after {
  width: 2px;
  height: 10px;
  background: var(--clr-black-50);
  transform: translate(5px,8px) rotate(315deg);
}

@media (min-width: 725px) {
  .search {
    max-width: 325px;
  }
  .search-input {
    width: 325px;
  }  
}