.nav-container {
  background-color: var(--clr-very-light-main) !important;
}

.navbar {
  padding: 0;
}

.container-nav{
  max-width: 1200px;
  position: relative;
} 

.navbar-logo {
  height: 45px;
  margin: 16px;
  object-fit: cover;
}

.nav-cart-container {
  position: relative;
  width: fit-content;
  align-self: center;
}

.nav-cart-itemsSelected {
  position: absolute;
  top: 0;
  right: 8px;
  background-color: var(--clr-main);
  padding: 2px 4px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1;
}

.nav-log-btn {
  background-color: var(--clr-main);
  border: none;
  border-radius: 4px;
  padding: .25rem 1rem;
  text-transform: uppercase;
}

.nav-user-container {
  cursor: pointer;
  padding-right: 1rem;
}

.nav-user-container img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.nav-usermenu-bg {
  background-color: var(--clr-very-light-main);
  position: absolute;
  top: 100%;
  right: 1rem;
  border-radius: 0 0 4px 4px;
  padding: 1rem;
  text-align: right;
  color: inherit;
}

.nav-usermenu-bg a {
  color: inherit;
}
.nav-usermenu-bg a:hover {
  text-decoration: underline;
}
