.nav-container {
  background-color: var(--clr-very-light-main) !important;
}

.navbar {
  padding: 0;
}

.container-nav{
  max-width: 1200px;
} 

.navbar-logo {
  height: 45px;
  margin: 16px;
  object-fit: cover;
}
